
/* Structure*/
body {
    display: block;
    font-size: 1em;
    line-height: 1.25;
    font-weight: 300;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #EEEEEE;
    margin-top: 45px;
}

.container {
    position: relative;
    max-width: 1020px;
    margin: 0 auto;
    box-sizing: border-box;
    margin-bottom: 45px;
}

.column {
    float: left;
    box-sizing: border-box;
    margin-left: 4%;
    width: 48%;
    text-align: justify;
}

.column:first-child {
    margin-left: 0;
}

.name {
    text-align: right;
}

.topIntro {
    text-align: right;
    padding-bottom: 80px;
}

/* images */

.round {
    border-radius: 50%;
}

#logo:hover {
    transition: transform 60s;
    transform: rotate(7200deg);
}

#dogs {
    width: 100%;
}
 
#dogs:hover {
    transition: transform 60s;
    transform: rotate(7200deg);
}

#love {
    width: 100%;
}

#love {
    transform: scaleX(1);
}

#love:hover {
    transform: scaleX(-1);
}